.thumbnail-slider {
  .thumbnail-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure it fits within the parent container */
    border-radius: 16px;
    border: 1px solid #dadada;
    margin: 18px; /* Move this to padding in the parent container */
    padding: 47px 0;
  }

  .selected-container {
    margin-bottom: 20px; /* Add spacing between the selected container and thumbnails */
    text-align: center;
  }

  .selected-image img {
    width: 160px;
    max-width: 100%; /* Ensure the image scales properly */
    height: auto;
  }

  .selected-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 19px;
    padding: 0 40px;
  }

  .selected-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.26px;
    text-align: center;
    margin-top: 4px;
    padding: 0 48px;
  }

  .thumbnails-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent thumbnails from wrapping */
    margin: 0 16px;
    width: calc(100% - 32px); /* Ensure it fits within the parent container */
    display: flex;
    align-items: center;

    /* Modern scrollbar styling */
    &::-webkit-scrollbar {
      height: 8px; /* Height of horizontal scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Track color */
    }

    &::-webkit-scrollbar-thumb {
      background: #888; /* Thumb color */
      border-radius: 4px; /* Rounded corners for thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Thumb hover color */
    }

    /* Additional scrollbar styling for other browsers */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    /* For Firefox (using the scrollbar-color property) */
  }

  .thumbnails {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .thumbnail {
    box-sizing: border-box;
    display: inline-flex;
    min-width: 55px;
    min-height: 55px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #b4b4b4;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:first-child {
      margin-left: 30%;
    }

    picture {
      max-height: 36px;
      max-width: 100%;
      height: 36px;
      width: auto;
      img {
        max-width: 100%;
        height: 36px;
        width: auto;
      }
    }
  }

  .thumbnail:hover {
    border-color: #000; /* Change border color on hover */
  }
}
